.navigation__link {
  transition: all 0.3s ease-out;
}

.button, body {
  font-family: "Open Sans", Verdana, sans-serif;
}

.promo__text, h1 {
  font-family: "Poppins", Verdana, sans-serif;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  font-style: normal;
  font-weight: normal;
  line-height: 2.6rem;
  /*font-family: 'Open Sans', Verdana, sans-serif;*/
}

h1 {
  /*font-style: normal;
  font-weight: bold;
  font-size: 44px;
  line-height: 54px;*/
  font-size: 4.4rem;
  font-style: normal;
  font-weight: bold;
  line-height: 5.4rem;
}

h2 {
  /*font-style: normal;
  font-weight: bold;
  font-size: 34px;
  line-height: 46px;*/
  font-size: 3.4rem;
  font-style: normal;
  font-weight: bold;
  line-height: 4.6rem;
}

h3 {
  /*font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 34px;*/
  font-size: 2.4rem;
  font-style: normal;
  font-weight: bold;
  line-height: 3.4rem;
}

h4 {
  /*font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 30px;*/
  font-size: 2.2rem;
  font-style: normal;
  font-weight: 600;
  line-height: 3rem;
}

h5 {
  /*font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 26px;*/
  font-size: 1.6rem;
  font-style: normal;
  font-weight: bold;
  line-height: 2.6rem;
}

.wrapper {
  max-width: 1197px;
  margin: 0 auto;
}

.header {
  background: #ffffff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  padding: 15px 0 17px 0;
}

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation {
  display: flex;
  font-size: 1.5rem;
  line-height: 2.8rem;
}

.navigation__link {
  list-style: none;
  padding: 0 10px;
  cursor: pointer;
}
.navigation__link:hover {
  color: #ff9900;
}

.header__buttons > .button {
  margin-left: 14px;
}

.header__buttons > .button:first-child {
  margin-left: 0;
}

.contact-us {
  background: #ffeee1;
}

.button {
  padding: 11px 25px 13px;
  font-style: normal;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 2.2rem;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s;
}
.button_bordered {
  background: #ffffff;
  border: 1px solid #d7d7d7;
  color: #544837;
}
.button_bordered:hover {
  background: #bcd0e5;
  border-color: #bcd0e5;
}
.button_colored {
  background: #ff9900;
  color: #ffffff;
  border: 1px solid #ff9900;
}
.button_colored:hover {
  background: #ff7549;
  border-color: #ff7549;
}

/*.button_bordered {
    background: $color-light;
    border: 1px solid $color-border;
    color: $color-text;
}

.button_colored {
    background: $color-primary;
    color: $color-light;
    border: 1px solid $color-primary;
}

.button_colored:hover {
    background: $color-additional;
    border-color: $color-additional;
}

.button_bordered:hover {
    background: $color-hovered;
    border-color: $color-hovered;
}*/
.promo {
  padding: 30px 0;
}

.promo__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.promo__content {
  padding-right: 65px;
}

.promo__title {
  margin: 0 0 30px;
}

.promo__buttons > * {
  margin-right: 44px;
}

.promo__text {
  max-width: 487px;
  margin: 0 0 45px;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: normal;
  line-height: 2.8rem;
}

/*# sourceMappingURL=style.css.map */
