* {
    box-sizing: border-box;
}
html {
    font-size: 10px;
}

body {
    font-size: 1.6rem;
    font-family: 'Open Sans', Verdana, sans-serif;
}

h1 {
    @extend %font-add;
    /*font-style: normal;
    font-weight: bold;
    font-size: 44px;
    line-height: 54px;*/
    @include font(4.4rem, 5.4rem);
}

h2 {
    /*font-style: normal;
    font-weight: bold;
    font-size: 34px;
    line-height: 46px;*/
    @include font(3.4rem, 4.6rem); 
}

h3 {
    /*font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 34px;*/
    @include font(2.4rem, 3.4rem);
}

h4 {
    /*font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 30px;*/
    @include font(2.2rem, 3.0rem, 600);
}

h5 {
    /*font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 26px;*/
    @include font(1.6rem, 2.6rem);
}